.center, .mensajes {
    clear: both;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.mensajes {
    text-align: center;

    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
}
.titulo {
    margin: auto;
    text-align: center;
}


.tablerojuego {
	border-style: solid;
	border-width: thin;
    margin: auto;
}
.tablerojuego td {
	width: 20px;
	height:20px;
	margin: 0px;
	padding: 0px;
    	border-style: solid;
	border-width: thin;
}

.tablerojuego td:hover{
    background-color: antiquewhite;
}

.selec, #selec {
    background-color: black;
}

.mina, #mina {
    background-color: red;
}

footer {
    text-align: center;
    margin-top: 20px;
}

#botonPintarDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

/*añadirle a #mensaje un height fijo y un overflow-y: scroll;*/

